.agendamento{
    display: grid;
    grid-template-columns: 1fr 350px;

    .content{
        padding-right: 20px;
    }

    .agenda{
        margin-top: 30px;
        margin-bottom: 7px;
    }

                /* width */
        ::-webkit-scrollbar {
            width: 9px;
            margin: 1rem 0;
            height: 60%;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #ccc !important;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 1rem 0;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background:#a4b1bf;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .agendaGeral{
        height: 300px;
        overflow-y: scroll;
        border-radius: 15px;

        
    }
    
    .title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        
        h2{
            font-size: 1.3rem;
            font-weight: 900;
        }

        .search{
            p{
                font-weight: 500;
                color: #9291a3;
            }
        }
    }

    .table1{
        margin-top: 2rem;
        h2{
            font-size: 1.3rem;
            font-weight: 900;
            margin-bottom: 17px;
        }
    }

    .widgets{
        padding: 0 1.5rem;
        position: relative;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .medicos{
            padding-top: 40px;
        }
    }
}