.search{
    display: flex;
    flex-direction: row;
    position: relative;

    .form-control{
        height: 50px;
        position: relative;
        border-radius: 15px;
        padding: 1rem;
        border: 0px;
        background: #e5e9f9;

        &::placeholder{
            color: rgb(180, 180, 180);
        }
        &:focus{
            background-color: #e5e9f9;
            border: none;
            box-shadow: none;
        }
    }

    .btn{
        position: absolute;
        height: 50px;
        right: 3px;
        background: transparent;
        border: 0;
        border-radius: 0;
        

        .ico{
            color: #6883e2;
            border: 0px;
            font-size: 1.1rem;
            font-style: 700;
        }

    }

    .mb-3{
        width: 100%;
        
    }
}