.table{
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    height: 100%;
    .topo{
        background-color: #e5e9fa;
        
    }
    tbody{
        color: #999aae;
        overflow-y: scroll;

        .success{
            background-color: #20c997;
            border-radius: 10px;
            color: #fff;
            font-weight: 900;
            padding: 6px;
            font-size: 0.7rem;
        }
        .pendent{
            background-color: #ffdd76;
            border-radius: 10px;
            color: #fff;
            font-weight: 900;
            padding: 6px;
            font-size: 0.7rem;
        }
        .failed{
            background-color: #f95f6d;
            border-radius: 10px;
            color: #fff;
            font-weight: 900;
            padding: 6px;
            font-size: 0.7rem;
        }

        .action{
            display: flex;
            justify-content: center;

            button{
                margin: 0 5px;
                font-size: 15px;
                background-color: transparent;
                border: none;
                
            }

            .edit{
                color: #ffdd76;
            }
            .remove{
                color: #f95f6d;
            }
            .confirm{
                color: #20c997;
            }
        }

        .success{
            background-color: #20c997;
            border-radius: 10px;
            color: #fff;
            font-weight: 900;
            padding: 6px;
            font-size: 0.7rem;
        }
        .pendent{
            background-color: #ffdd76;
            border-radius: 10px;
            color: #fff;
            font-weight: 900;
            padding: 6px;
            font-size: 0.7rem;
        }
        .failed{
            background-color: #f95f6d;
            border-radius: 10px;
            color: #fff;
            font-weight: 900;
            padding: 6px;
            font-size: 0.7rem;
        }
    }
}
.table>:not(caption)>*>*{
    padding: 18px 1.3rem !important;
}